@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Hegarty&display=swap');
@reference './tailwind.css';

body {
  font-family: 'Montserrat', serif;
}

.impact-text {
  font-family: 'BBH Hegarty', serif;
  @apply text-8xl font-black uppercase text-primary tracking-wider;
}